<div class="container">
  <ul class="list-group">
   
      <li class="list-group-item ">
          <div class="card-body">
              <div class="_title-users">
                 <h4> Buscar Turno:</h4>
              </div>
              <div class="_add-user">
                 <a class="custom-ref" target="_blank" data-toggle="modal" data-target="#myModalCreate" rel="noopener noreferrer">
                    <i class ="glyphicon glyphicon-plus-sign" (click)="loadNewScheduleInfo()"
                    [style.color] = "'rgb(57, 89, 160)'"></i>
                 </a> 
               </div>
               <br>
               <div class="_find-user">
                 <input type="text">
                 <a><i class ="glyphicon glyphicon-search"
                  [style.color] = "'Gray'"></i>
                 </a>
               </div>
               <div class="_title-users">
                  <!-- <h4> Importar Turnos:</h4>
                  <input type="file" class="form-control"> -->
               </div>
          </div>
          <br>
    </li>
    <li class="list-group-item ">
        <div style="width: 50px; margin-left: auto; margin-right: auto;" *ngIf="loading" >
            <img src="../../../assets/loader/loading.gif" style="width: 40px;" />
        </div>
            <div class="card-body">
  <table id="myTable" datatable class="row-border hover">
    <tbody>
      <tr *ngFor="let register of arrayScheduleRequest">
        <td>
          <hr>
          <table>
            <thead>
              <th>{{register.schedulName}}</th>
            </thead>
              <tbody style="font-size: 15px;">
                <tr>
                  <td>Hora Inicio:</td>
                  <td style="text-align: left;"> {{register.startHour}}</td>
                </tr>
                <tr>
                  <td>Hora Fin:</td>
                  <td style="text-align: left;"> {{register.endHour}}</td>
                </tr>
                <tr>
                  <td>Dias</td>
                </tr>
                <tr style="width: 100%; text-align: center;">
                  <table style="border: black 1px solid; width: 100%;">
                    <thead style="font-size: 10px; text-align:center;  border: black 1px solid;">
                      <th style="border: black 1px solid; text-align:center;">Lun.</th>
                      <th style="border: black 1px solid; text-align:center;">Mar.</th>
                      <th style="border: black 1px solid; text-align:center;">Mie.</th>
                      <th style="border: black 1px solid; text-align:center;">Jue.</th>
                      <th style="border: black 1px solid; text-align:center;">Vie.</th>
                      <th style="border: black 1px solid; text-align:center;">Sab.</th>
                      <th style="border: black 1px solid; text-align:center;">Dom.</th>
                    </thead>
                    <tbody style="border: black 1px solid; text-align:center;">
                      <tr>
                        <td style="border: black 1px solid;">
                            <i class="glyphicon glyphicon-ok" [style.color] = "'rgb(57, 89, 160)'"></i>
                        </td>
                        <td style="border: black 1px solid;">
                            <i class="glyphicon glyphicon-ok" [style.color] = "'rgb(57, 89, 160)'"></i>
                        </td>
                        <td style="border: black 1px solid;">
                          <i class="glyphicon glyphicon-ok" [style.color] = "'rgb(57, 89, 160)'"></i>
                        </td>
                        <td style="border: black 1px solid;">
                            <i class="glyphicon glyphicon-ok" [style.color] = "'rgb(57, 89, 160)'"></i>
                        </td>
                        <td style="border: black 1px solid;">
                            <i class="glyphicon glyphicon-ok" [style.color] = "'rgb(57, 89, 160)'"></i>
                        </td>
                        <td style="border: black 1px solid;">
                            <i class="glyphicon glyphicon-ok" [style.color] = "'rgb(57, 89, 160)'"></i>
                        </td>
                        <td style="border: black 1px solid;">
                          <i class="glyphicon glyphicon-ok" [style.color] = "'rgb(57, 89, 160)'"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
              </tbody>
          </table>
        </td>
        <td>
          <div>
            <a class="custom-ref" target="_blank" data-toggle="modal" data-target="#myModalUpdate" rel="noopener noreferrer">
                <i class ="glyphicon glyphicon-edit" (click) = "loadScheduleInfo(register)"
                [style.color] = "'Green'">
             </i>
            </a>
          </div>
        </td>
        <td>
            <div >
              <i class ="glyphicon glyphicon-remove-circle"
                [style.color] = "'rgb(173, 2, 2)'">
              </i>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
  <!-- <div *ngIf="paginator" class="center">
      <div class="pagination">
          <a href="#">❮</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">❯</a>
      </div>
  </div> -->
</div>
</li>
</ul>
<br>
<br>
<br>
</div>

<div class="modal fade" id="myModalCreate" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <label class="switch">
            <input type="checkbox" checked #IsActive name="IsActive" 
            (change)="isActive($event.target.checked)">
            <span class="slider round"></span>
        </label>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="text-align:center;">Turno</h4>
    </div>
    <div class="modal-body">
      <label>Nombre Turno:</label>
      <input class="form-control" type="text" #NameShedule name="NameShedule"/>
      <p></p>
      <label>Dias:</label>
      <p></p>
        <label class="checkbox-inline"><input type="checkbox" value="false" checked="checked" (change)="monday($event.target.checked)"
          #Monday name="Monday">Lunes</label>
        <label class="checkbox-inline"><input type="checkbox" value="false" checked="checked" (change)="tuesday($event.target.checked)"
          #Tuesday name="Tuesday">Martes</label>
        <label class="checkbox-inline"><input type="checkbox" value="false" checked="checked" (change)="wednesday($event.target.checked)"
           #Wednesday name="Wednesday">Miercoles</label>
        <p></p>
        <label class="checkbox-inline"><input type="checkbox" value="false" checked="checked" (change)="thursday($event.target.checked)"
          #Thursday name="Thursday">Jueves</label>
        <label class="checkbox-inline"><input type="checkbox" value="false" checked="checked" (change)="friday($event.target.checked)"
          #Friday name="Friday">Viernes</label>
        <label class="checkbox-inline"><input type="checkbox" value="false" checked="checked" (change)="saturday($event.target.checked)"
          #Saturday name="Saturday">Sabado</label>
        <p></p>
        <label class="checkbox-inline"><input type="checkbox" value="false" checked="checked" (change)="sunday($event.target.checked)"
          #Sunday name="Sunday">Domingo</label>
      <p></p>
      <label>Hora Inicio:</label>
      <input type="time" class="form-control" #StrHour name="StrHour" min="00:00" max="24:00" (change)=startTime($event.target.value) >
      <p></p>
      <label>Hora Fin:</label>
      <input type="time" class="form-control" #EndHour name="EndHour" min="00:00" max="24:00" (change)=endTime($event.target.value) >
      <label>Lugar:</label>
      <select class="form-control" #Lugar name="Lugar" [(ngModel)]="selectedOption">
          <option *ngFor="let c of crossCuttingList" [ngValue]="c.key">
              <div style="display: none;">{{c.value}}</div>
          </option>
        </select>
    </div>
    <div class="modal-footer">
                <div class="col-md-1">
        <button type="button" class="btn btn-success"
        (click)="createSchedul(IsActive.value, NameShedule.value,Monday.value,Tuesday.value,
        Wednesday.value, Thursday.value, Friday.value, Saturday.value, Sunday.value,
        StrHour.value, EndHour.value, selectedOption)">Guardar</button>
        </div>
        <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
        <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
    </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModalUpdate" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <label class="switch">
            <input type="checkbox" checked #IsActive name="IsActive"
            [(ngModel)] = "schedulerToEditUpload.isActive"
            (change)="isActive($event.target.checked)">
            <span class="slider round"></span>
        </label>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="text-align:center;">Turno</h4>
    </div>
    <div class="modal-body">
        <label>Nombre Turno:</label>
        <input class="form-control" type="text" #ScheduleName name="ScheduleName"
        [(ngModel)] = "schedulerToEditUpload.schedulName"/>
        <p></p>
        <label>Dias:</label>
        <p></p>
          <label class="checkbox-inline"><input type="checkbox" checked="checked" 
            (change)="monday($event.target.checked)"
            #Monday name="Monday">Lunes</label>
          <label class="checkbox-inline"><input type="checkbox" checked="checked" 
            (change)="tuesday($event.target.checked)"
            #Tuesday name="Tuesday">Martes</label>
          <label class="checkbox-inline"><input type="checkbox" checked="checked" 
            (change)="wednesday($event.target.checked)"
             #Wednesday name="Wednesday">Miercoles</label>
          <p></p>
          <label class="checkbox-inline"><input type="checkbox" checked="checked" 
            (change)="thursday($event.target.checked)"
            #Thursday name="Thursday">Jueves</label>
          <label class="checkbox-inline"><input type="checkbox" checked="checked" 
            (change)="friday($event.target.checked)"
            #Friday name="Friday">Viernes</label>
          <label class="checkbox-inline"><input type="checkbox" checked="checked" 
            (change)="saturday($event.target.checked)"
            #Saturday name="Saturday">Sabado</label>
          <p></p>
          <label class="checkbox-inline"><input type="checkbox" checked="checked" 
            (change)="sunday($event.target.checked)"
            #Sunday name="Sunday">Domingo</label>
        <p></p>
        <label>Hora Inicio:</label>
        <input type="time" class="form-control" #StrHour name="StrHour" min="00:00" max="24:00" 
        (change)=startTime($event.target.value) >
        <p></p>
        <label>Hora Fin:</label>
        <input type="time" class="form-control" #EndHour name="EndHour" min="00:00" max="24:00" 
        (change)=endTime($event.target.value) >
        <label>Lugar:</label>
        <select class="form-control" #Lugar name="Lugar" [(ngModel)]="selectedOption">
            <option *ngFor="let c of crossCuttingList" [ngValue]="c.key">
                <div style="display: none;">{{c.value}}</div>
            </option>
        </select>
    </div>
    <div class="modal-footer">
                <div class="col-md-1">
        <button type="button" class="btn btn-success"
        (click)="updateSchedul(Id.value, IsActive.value, Name.value,Monday.value,Tuesday.value,
        Wednesday.value, Thursday.value, Friday.value, Saturday.value, Sunday.value,
        StrHour.value, EndHour.value, selectedOption)">Guardar</button>
        </div>
        <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
        <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
    </div>
    </div>
  </div>
</div>
