<div class="container">
  <ul class="list-group">
   
      <li class="list-group-item ">
          <div class="card-body">
              <div class="_title-users">
                 <h4> Buscar boton:</h4>
              </div>
              <div class="_add-user">
                 <a>
                  class="custom-ref" target="_top" data-toggle="modal" data-target="#myModal" rel="noopener noreferrer"
                    <i class ="glyphicon glyphicon-plus-sign" (click)="loadNewScheduleInfo()"
                    [style.color] = "'rgb(57, 89, 160)'"></i>
                 </a> 
               </div>
               <br>
               <div class="_find-user">
                 <input type="text">
                 <a><i class ="glyphicon glyphicon-search"
                  [style.color] = "'Gray'"></i>
                 </a>
               </div>
               <div class="_title-users">
                  <h4> Importar botones:</h4>
                  <input type="file" (change)="handleFileInput($event.target.files)">
               </div>
          </div>
          <br>
    </li>
    <li class="list-group-item ">
        <div style="width: 50px; margin-left: auto; margin-right: auto;" *ngIf="loading" >
            <img src="../../../assets/loader/loading.gif" style="width: 40px;" />
        </div>
            <div class="card-body">
  <table id="myTable" datatable class="row-border hover" style="width: 80%; margin-left: auto; margin-right: auto;">
      <thead>
          <tr>
                <th style="text-align: center;font-size: 70%;">Boton | Responsable | Turno</th>
          </tr>
      </thead>
      <p></p>
      <tbody style="font-size: 50%; text-align: center;">
      
      <tr *ngFor="let button of scheduler; let index = index" >

        <td> 
          <table style="width: 100%;">
           <tbody>
                <tr>
                <button class="accordion" style="text-align: center; font-size: 70%; color: white;" (click)=showDetails() id="{{button.id}}">  
                    {{button.idButton}}&nbsp;|&nbsp;{{button.owner}}&nbsp;| &nbsp;{{button.schedule}}&nbsp;
                </button>
                <div class="panel" style="font-size: 70%;">
                  <p>
                  <label>Boton:</label>
                  <input class="form-control" [(ngModel)]="button.idButton">
                  </p>
                  <p>
                  <label>Responsable:</label>
                  <input class="form-control" [(ngModel)]="button.owner">
                  </p>
                  <p>
                  <label>Turno:</label>
                  <input class="form-control" [(ngModel)]="button.schedule">
                  </p>
                  <button type="button" class="btn btn-success" (click)="updateButton(button)" >Actualizar</button>
                  &nbsp;
                  <button type="button" class="btn btn-danger" (click)="removeButton(button.id)">Eliminar</button> 
                </div>
                </tr>
              </tbody>
          </table>
        </td> 
      </tr>
    </tbody>
  </table>
  <div *ngIf="paginator" class="center">
      <!-- <div class="pagination">
          <a href="#">❮</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">❯</a>
      </div> -->
  </div>
</div>
</li>
</ul>
<br>
<br>
<br>
</div>


<div class="modal fade" id="myModalCreateButton" role="dialog">
    <div class="modal-dialog ">
      <div class="modal-content">      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="text-align:center;">Boton</h4>
      </div>
      <div class="modal-body">
        <label>BotonId:</label>
        <input class="form-control" #BotonName ngModel name="BotonName" />
        <p></p>
        <label>Boton:</label>
        <input class="form-control" #BotonName ngModel name="BotonName" />
        <p></p>
        <label>Responsable</label>
        <input type="text" class="form-control" #City ngModel name="City" />
        <p></p>
        <label>Turno</label>
        <input type="text" class="form-control" #Country ngModel name="Country" />
        <p></p>
        <select class="form-control" #Lugar ngModel name="Lugar" [(ngModel)]="selectedOption">
            <option *ngFor="let c of crossCuttingList" [ngValue]="c.key">
                <div style="display: none;">{{c.value}}</div>
            </option>
        </select>
      </div>
      <div class="modal-footer">
                  <div class="col-md-1">
          <button type="button" class="btn btn-success"
          (click)="addPlace(NamePlace.value, City.value, Country.value)">Guardar</button>
          </div>
          <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
          <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
      </div>
      </div>
    </div>
  </div>