<div class="container">
  <ul class="list-group">
   
      <li class="list-group-item ">
          <div class="card-body">
              <div class="_title-users">
                 <h4> Buscar boton:</h4>
              </div>
              <!-- <div class="_add-user">
                 <a>
                  class="custom-ref" target="_top" data-toggle="modal" data-target="#myModal" rel="noopener noreferrer"
                    <i class ="glyphicon glyphicon-plus-sign"
                    [style.color] = "'rgb(57, 89, 160)'"></i>
                 </a> 
               </div> -->
               <br>
               <div class="_find-user">
                 <input type="text">
                 <a><i class ="glyphicon glyphicon-search"
                  [style.color] = "'Gray'"></i>
                 </a>
               </div>
               <div class="_title-users">
                  <h4> Importar botones:</h4>
                  <input type="file" (change)="handleFileInput($event.target.files)">
               </div>
          </div>
          <br>
    </li>
    <li class="list-group-item ">
        <div style="width: 50px; margin-left: auto; margin-right: auto;" *ngIf="loading" >
            <img src="../../../assets/loader/loading.gif" style="width: 40px;" />
        </div>
            <div class="card-body">
  <table id="myTable" datatable class="row-border hover">
      <thead>
          <tr>
            <th>Boton</th>
            <th>Responsable</th>
            <th>Turno</th>
          </tr>
      </thead>
    <tbody>
      <tr *ngFor="let button of scheduler" style="font-size: 70%;">
        <!-- <td> -->
          <!-- <table style="font-size: 70%;" >
              <tbody>
                <tr> -->
                  <td style="display:none;">{{button.id}}</td>
                  <td>{{button.idButton}}</td>
                  <td>{{button.owner}}</td>
                  <td>{{button.schedule}}</td>
                  <td style="display:none;">{{button.placeId}}</td>
                <!-- </tr>
              </tbody>
          </table>
        </td> -->
        <!-- <td>
          <div>
             <a class="custom-ref" data-toggle="modal" data-target="#myModal" rel="noopener noreferrer">
                <i class ="glyphicon glyphicon-edit"
                [style.color] = "'Green'">
             </i>
            </a>
          </div>
        </td>
        <td>
            <div >
              <i class ="glyphicon glyphicon-remove-circle"
                [style.color] = "'rgb(173, 2, 2)'">
              </i>
            </div>
        </td> -->
      </tr>
    </tbody>
  </table>
  <div *ngIf="paginator" class="center">
      <div class="pagination">
          <a href="#">❮</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">❯</a>
      </div>
  </div>
</div>
</li>
</ul>
<br>
<br>
<br>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="text-align:center;">Botones</h4>
    </div>
    <div class="modal-body">
      <label>Nombre:</label>
      <input class="form-control"/>
      <p></p>
      <label>Apellido:</label>
      <input class="form-control"/>
      <label>Email:</label>
      <input type="email" class="form-control"/>
      <p></p>
      <label>Contraseña:</label>
      <input type="password" class="form-control"/>
      <p></p>
      <label>Repetir Contraseña:</label>
      <input type="password" class="form-control"/>
      <p></p>
      <label>Perfil:</label>
      <select class="form-control"></select>
      <p></p>
      <label>Turno:</label>
      <select class="form-control"></select>
    </div>
    <div class="modal-footer">
        <div class="col-md-1">
          <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
    </div>
  </div>
</div>
