<div class="container">
<ul class="list-group">
  <li class="list-group-item list-group-item-success">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
            <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
        </div>
  </li>
  <br>
  <li class="list-group-item list-group-item-info"> <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" style=" background-color:#5caa60" class="btn btn-primary">Accepted</a>
      <a href="#" style=" background-color:#b43434" class="btn btn-primary">Declined</a>
  </div></li>
</ul>
</div>