<div class="container">

  
  <ul class="list-group">
   
      <li class="list-group-item ">
          <div class="card-body">
              <div class="_title-users">
                 <h4> Buscar Perfil:</h4>
              </div>
              <div class="_add-user">
                 <a class="custom-ref" target="_top" data-toggle="modal" data-target="#myModalCreate" rel="noopener noreferrer">
                    <i class ="glyphicon glyphicon-plus-sign" (click)="loadNewRolesInfo()"
                    [style.color] = "'rgb(57, 89, 160)'"></i>
                 </a> 
               </div>
               <br>
               <div class="_find-user">
                 <input type="text">
                 <a><i class ="glyphicon glyphicon-search"
                  [style.color] = "'Gray'"></i>
                 </a>
               </div>
               <div class="_title-users">
                  <!-- <h4> Importar Perfiles:</h4>
                  <input type="file"> -->
               </div>
          </div>
          <br>
    </li>
    <li class="list-group-item ">
        <div style="width: 50px; margin-left: auto; margin-right: auto;" *ngIf="loading" >
            <img src="../../../assets/loader/loading.gif" style="width: 40px;" />
        </div>
            <div class="card-body">
  <table id="myTable" datatable class="row-border hover">
    
    <tbody>
      <tr *ngFor="let roles of arrayRoles">
        <td>
          <table>
            <thead>
              <th>{{roles.name}}</th>
            </thead>
              <tbody>
                <tr style="display: none;">
                  <td>{{roles.id}}</td>
                </tr>
                <tr>
                  <td>{{roles.write}}</td>
                </tr>
                <tr>
                  <td>{{roles.read}}</td>
                </tr>
              </tbody>
          </table>
        </td>
        <td>
          <div>
            <a class="custom-ref" target="_top" data-toggle="modal" data-target="#myModalUpdate" rel="noopener noreferrer">
                <i class ="glyphicon glyphicon-edit" (click)="loadRolesInfo(roles)"
                [style.color] = "'Green'">
             </i>
            </a>
          </div>
        </td>
        <td>
            <div >
              <i class ="glyphicon glyphicon-remove-circle" (click)="removeRoles(roles.id)" 
                [style.color] = "'rgb(173, 2, 2)'">
              </i>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="paginator" class="center">
      <div class="pagination">
          <a href="#">❮</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">❯</a>
      </div>
  </div>
</div>
</li>
</ul>
<br>
<br>
<br>
</div>

<div class="modal fade" id="myModalCreate" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <label class="switch">
            <input type="checkbox" checked #IsActive ngModel name="IsActive" (change)="isActive($event.target.checked)">
            <span class="slider round"></span>
        </label>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="text-align:center;">Perfil</h4>
    </div>
    <div class="modal-body">
      <label>Nombre:</label>
      <input class="form-control" #NameRole ngModel name="NameRole" [(ngModel)]="rolesToEdit.name"/>
      <p></p>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" #Read ngModel name="Read" [(ngModel)]="rolesToEdit.read" (change)="reader($event.target.change)"> Lectura
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" #Write ngModel name="Write" [(ngModel)]="rolesToEdit.write" (change)="write($event.target.change)"> Escritura
        </label>
      </div>
      <label>Lugar:</label>
      <select class="form-control" #Lugar ngModel name="Lugar" [(ngModel)]="selectedOption" >
        <option *ngFor="let c of crossCuttingList" [ngValue]="c.key">
            <div style="display: none;">{{c.value}}</div>
        </option>
      </select>
    </div>
    <div class="modal-footer">
                <div class="col-md-1">
        <button type="button" class="btn btn-success"
        (click)="addRoles(IsActive.value, NameRole.value, Read.value, Write.value, selectedOption)">Guardar</button>
        </div>
        <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
        <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
    </div>
    </div>
  </div>
</div>

 <div class="modal fade" id="myModalUpdate" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">      
    <div class="modal-header">
        <label class="switch">
            <input type="checkbox" checked #IsActive ngModel name="IsActive" (change)="isActive($event.target.checked)">
            <span class="slider round"></span>
        </label>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="text-align:center;">Perfil</h4>
    </div>
    <div class="modal-body">
      <div style="display: none;">
          <label>Id:</label>
          <input class="form-control" #Id ngModel name="Id" [(ngModel)]="rolesToEdit.id"/>
          <p></p>
      </div>
      <label>Nombre:</label>
      <input class="form-control" #NameRole ngModel name="NameRole" [(ngModel)]="rolesToEdit.name"/>
      <p></p>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" #Read ngModel name="Read" [(ngModel)]="rolesToEdit.read"> Lectura
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" #Write ngModel name="Write" [(ngModel)]="rolesToEdit.write"> Escritura
        </label>
      </div>
      <label>Lugar:</label>
      <select class="form-control" #Lugar ngModel name="Lugar" [(ngModel)]="selectedOption">
        <option *ngFor="let c of crossCuttingList" [ngValue]="c.key">
            <div style="display: none;">{{c.value}}</div>
        </option>
      </select>
    </div>
    <div class="modal-footer">
                <div class="col-md-1">
        <button type="button" class="btn btn-success"
        (click)="editRoles(IsActive.value, NameRole.value, Read.value, Write.value,rolesToEdit.id,selectedOption)">Guardar</button>
        </div>
        <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
        <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
    </div>
    </div>
  </div>
</div>

