
    <div class="container">
        <div>

        <ul class="list-group">
          <li class="list-group-item ">
                <div class="card-body">
                        <div>
                                <a (click)="loadevents()"> loadevents</a>
                                <div *ngIf="calendarOptions">
                                    <ng-fullcalendar 
                                    #ucCalendar [options]="calendarOptions" 
                                    (eventClick)="eventClick($event.detail)" 
                                    (eventDrop)="updateEvent($event.detail)"
                                    (eventResize)="updateEvent($event.detail)" 
                                    (dayClick)="dayClick($event.detail)" 
                                    (clickButton)="clickButton($event.detail)" 
                                    [(eventsModel)]="events">
                                    </ng-fullcalendar>
                                </div>
                        </div>
                </div>
          </li>
        </ul>
    </div>

    </div>
    