.card-body{
    background-color: transparent;
  }

.simple-information{
  position: absolute;
  top: 0;
  left: 29%;
}
.icon-card{
  width: 100%;
}
.icon-card img{
  width: 75%;
}
.state-card{
  position: absolute;
  top: calc(70%);
  right: 5%;
  width: 60px;
  height: 20px;
  border: 2px solid green;
  font-size: 10px;
  text-align: center;
  color: green;
  padding: 0px;
  border-radius: 10px !important;
}
.timeline-card{
  position: absolute;
  top: 100%;
}

.list-group-item:not(:last-child) {
  margin-bottom: 20px;
}

.fc-day:first-child > div:first-child {
  position: relative;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
  width: 100%;
  text-align: center;
}

.cards-itmes-calendar {
  width: 100%;
  position: relative;
  left: 0;
}

@media (max-width: 2046px) and (min-width: 1447px) {
    .container {
      padding-top: 150px;
      width: 100%;
    }
      .list-group{
        width: 55%;
        position: relative;
        left: 0;
      }
      .title-day-selected{
        position: relative;
        left: 17px;
        background-color: rgb(57, 89, 160);
        width: calc(365px);
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .cards-itmes{
        position: absolute;
       left: 50%;
       width:100%;
      }
      .assignaments-title{
        position: absolute;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: 120px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
      .list-group{
        width: 40%;
        position: relative;
        left: 0;
      }
      .title-day-selected{
        text-align: center;
        font-size: 15px;
      }
      .state-card{
        position: absolute;
        top: 55%;
        right: 5%;
        width: 60px;
        height: 20px;
        border: 2px solid green;
        font-size: 10px;
        text-align: center;
        color: green;
        padding: 0px;
        border-radius: 10px !important;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
   }
   @media (max-width: 1446px) and (min-width: 1023px) {
    .container {
      padding-top: 150px;
      width: 100%;
    }
      .list-group{
        width: 40%;
        position: absolute;
        left: 10%;
      }
      .title-day-selected{
        position: absolute;
        left: calc(74%);
        background-color: rgb(57, 89, 160);
        width: calc(39%);
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .cards-itmes{
        position: absolute;
       left: 50%;
      }
      .assignaments-title{
        position: absolute;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: 120px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
    
      .title-day-selected{
        text-align: center;
        font-size: 15px;
      }
      .state-card{
        position: absolute;
        top: 55%;
        right: 5%;
        width: 60px;
        height: 20px;
        border: 2px solid green;
        font-size: 10px;
        text-align: center;
        color: green;
        padding: 0px;
        border-radius: 10px !important;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
    }

    @media (max-width: 1022px) and (min-width: 631px) {
      .container {
        padding-top: 150px;
        width: 100%;
      }
      .list-group{
        width: 40%;
        position: absolute;
      }
      .title-day-selected{
        position: absolute;
        left: calc(54%);
        background-color: rgb(57, 89, 160);
        width: calc(40%);
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .cards-itmes{
       position: absolute;
       left: 53%;
      }
      .assignaments-title{
        position: relative;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: calc(20%);
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
    
      .title-day-selected{
        text-align: center;
        font-size: 15px;
      }
      .simple-information{
        position: absolute;
        top: 20px;
        left: 29%;
        width: calc(200px);
      }
      .state-card{
        position: absolute;
        top: 55%;
        right: 5%;
        width: 60px;
        height: 20px;
        border: 2px solid green;
        font-size: 10px;
        text-align: center;
        color: green;
        padding: 0px;
        border-radius: 10px !important;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
    }
    @media (max-width: 320px) and (min-width: 120px) {
      .container {
        padding-top: 15px;
      }
      .assignaments-title{
        position: relative;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: 120px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
    
      .title-day-selected{
        position: relative;
        left: 0px;
        background-color: rgb(57, 89, 160);
        width: 100%;
        padding: 2px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
    }
    @media (max-width: 374px) and (min-width: 321px) {
      .container {
        padding-top: 15px;
      }
      .assignaments-title{
        position: relative;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: 120px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
    
      .title-day-selected{
        position: relative;
        left: 0px;
        background-color: rgb(57, 89, 160);
        width: 100%;
        padding: 2px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
    }
    @media (max-width: 400px) and (min-width: 375px) {
      .container {
        padding-top: 15px;
      }
      .assignaments-title{
        position: relative;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: 120px;
        left: calc(1%);
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
    
      .title-day-selected{
        position: relative;
        left: 0px;
        background-color: rgb(57, 89, 160);
        width: 100%;
        padding: 2px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
    }
    @media (max-width: 500px) and (min-width: 401px) {
      .container {
        padding-top: 15px;
      }
      .assignaments-title{
        position: relative;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: 120px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
    
      .title-day-selected{
        position: relative;
        left: 0px;
        background-color: rgb(57, 89, 160);
        width: 100%;
        padding: 2px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
    }
    @media (max-width: 630px) and (min-width: 501px) {
      .container {
        padding-top: 15px;
      }
      .assignaments-title{
        position: relative;
        background-color: rgb(57, 89, 160);
        padding: 5px;
        color: aliceblue;
        width: 120px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 12px 12px 0px 0px !important;
      }
      .list-group-item{
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 5px !important;
      }
    
      .title-day-selected{
        position: relative;
        left: 0px;
        background-color: rgb(57, 89, 160);
        width: 100%;
        padding: 2px;
        text-align: center;
        box-shadow: 0px 0px 10px 0px #888888;
        border-radius: 10px !important;
      }
      .title-day-selected > h6{
        font-size: 15px;
        font: bold;
        color: aliceblue;
      }
      .logo-card{
        width: 25%;
        height: 100px;
        border-right: 2px solid rgb(57, 89, 160);
        text-align: center;
      }
    }