<div class="container">
  <ul class="list-group">
      <li class="list-group-item ">
          <div class="card-body">
              <div class="_title-users">
                 <h4> Buscar usuario:</h4>
              </div>
              <div class="_add-user">
                 <a class="custom-ref" target="_top" data-toggle="modal" data-target="#myModalCreateUser" rel="noopener noreferrer">
                    <i class ="glyphicon glyphicon-plus-sign" (click)="loadNewUserInfo()"
                    [style.color] = "'rgb(57, 89, 160)'"></i>
                 </a> 
               </div>
               <br>
               <div class="_find-user">
                 <input type="text">
                 <a><i class ="glyphicon glyphicon-search"
                  [style.color] = "'Gray'"></i>
                 </a>
               </div>
               <div class="_title-users">
                  <!-- <h4> Importar usuario:</h4>
                  <input type="file"> -->
               </div>
          </div>
          <br>
    </li>
   
    <li class="list-group-item ">
            <div class="card-body">
      <div style="width: 50px; margin-left: auto; margin-right: auto;" *ngIf="loading" >
          <img src="../../../assets/loader/loading.gif" style="width: 40px;" />
      </div>
  <table id="myTable" datatable class="row-border hover">
    
    <tbody>
      <tr *ngFor="let register of arrayRegisterRequest">
        <td>
          <table>
            <thead>
              <th>{{register.nickName}}</th>
            </thead>
              <tbody>
                <tr>
                  <!-- <td>{{register.position}}</td> -->
                </tr>
              </tbody>
          </table>
        </td>
        <td>
          <div>
            <a class="custom-ref" target="_top" data-toggle="modal" data-target="#myModalUpdate" rel="noopener noreferrer" >
                <i class ="glyphicon glyphicon-edit" (click)="loadUserInfo(register)"
                [style.color] = "'Green'">
             </i>
            </a>
          </div>
        </td>
        <td>
            <div >
              <i class ="glyphicon glyphicon-remove-circle" (click)="removeUser(register.id)"
                [style.color] = "'rgb(173, 2, 2)'">
              </i>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="paginator" class="center">
      <div class="pagination">
          <a href="#">❮</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">❯</a>
      </div>
  </div>
</div>
</li>
</ul>
<br>
<br>
<br>
</div>

<div class="modal fade" id="myModalCreateUser" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <label class="switch">
            <input type="checkbox" checked #IsActive ngModel name="IsActive" (change)="isActive($event.target.checked)">
            <span class="slider round"></span>
        </label>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="text-align:center;">Registro</h4>
    </div>
    <div class="modal-body">
      <label>Nombre:</label>
      <input class="form-control" #Name ngModel name="Name" [(ngModel)]="userToEdit.firstName"/>
      <label>Apellido:</label>
      <input class="form-control" #Apellido ngModel name="Apellido" [(ngModel)]="userToEdit.lastName"/>
      <label>Email:</label>
      <input type="email" class="form-control" #Email ngModel name="Email" [(ngModel)]="userToEdit.userName"/>
      <label>Fecha de Nacimento:</label>
      <input class="form-control" type="date" #FechaNacimiento ngModel name="FechaNacimiento" [(ngModel)]="userToEdit.bornDate"/>
      <label>Pais:</label>
      <input class="form-control" type="text" #Pais ngModel name="Pais" [(ngModel)]="userToEdit.country"/>
      <label>Ciudad:</label>
      <input class="form-control" type="text" #Ciudad ngModel name="Ciudad" [(ngModel)]="userToEdit.city"/>
      <label>Contraseña:</label>
      <input type="password" class="form-control" #Pswd ngModel name="Pswd" />
      <label>Repetir Contraseña:</label>
      <input type="password" class="form-control" #RePswd ngModel name="RePswd" />
      <div class="alert alert-danger" *ngIf="passwordNotMatches">
        Las contraseñas no son iguales.....
      </div>
      <label>Lugar:</label>
      <select class="form-control" #Lugar ngModel name="Lugar" [(ngModel)]="selectedOption" (change)="getAllPermissions($event.target.value)">
        <option *ngFor="let c of crossCuttingList" [ngValue]="c.key">
            <div style="display: none;">{{c.value}}</div>
        </option>
      </select>
      <label>Perfil:</label>
      <select class="form-control" #Perfil ngModel name="Perfil" [(ngModel)]="selectedRol">
          <option *ngFor="let p of crossCuttingListPermissions" [ngValue]="p.key">
              <div style="display: none;">{{p.value}}</div>
          </option>
      </select>
      <label>Turno:</label>
      <select class="form-control" #Turno ngModel name="Turno" [(ngModel)]="selecSchedule">
          <option *ngFor="let p of crossCuttingListSchedule" [ngValue]="p.key">
              <div style="display: none;">{{p.value}}</div>
          </option>
      </select>
    </div>
    <div class="modal-footer">
                <div class="col-md-1">
        <button type="button" class="btn btn-success" 
        (click)="addUser(IsActive.value,Name.value,Apellido.value,Email.value,
        FechaNacimiento.value,Pais.value,Ciudad.value,Pswd.value,
        RePswd.value,selectedRol,selecSchedule,selectedOption)">Guardar</button>
        </div>
        <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
        <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
    </div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModalUpdate" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <label class="switch">
            <input type="checkbox" checked #IsActive ngModel name="IsActive" [(ngModel)]="userToEdit.IsActive" (change)="isActive($event.target.checked)">
            <span class="slider round"></span>
        </label>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="text-align:center;">Editar Usuario</h4>
    </div>
    <div class="modal-body">
      <label style="display:none;">ID:</label>
      <input style="display:none;" class="form-control" #IdUser ngModel name="IdUser" [(ngModel)]="userToEdit.id"/>
      <label>Nombre:</label>
      <input class="form-control" #Name ngModel name="Name" [(ngModel)]="userToEdit.firstName"/>
      <label>Apellido:</label>
      <input class="form-control" #Apellido ngModel name="Apellido" [(ngModel)]="userToEdit.lastName"/>
      <label>Email:</label>
      <input type="email" class="form-control" #Email ngModel name="Email" [(ngModel)]="userToEdit.userName"/>
      <label>Fecha de Nacimento:</label>
      <input class="form-control" type="date" #FechaNacimiento ngModel name="FechaNacimiento" [(ngModel)]="userToEdit.bornDate"/>
      <label>Pais:</label>
      <input class="form-control" type="text" #Pais ngModel name="Pais" [(ngModel)]="userToEdit.country"/>
      <label>Ciudad:</label>
      <input class="form-control" type="text" #Ciudad ngModel name="Ciudad" [(ngModel)]="userToEdit.city"/>
      <label>Contraseña:</label>
      <input type="password" class="form-control" #Psd ngModel name="Psd" />
      <label>Repetir Contraseña:</label>
      <input type="password" class="form-control" #RePsd ngModel name="RePsd" />
      <div class="alert alert-danger" *ngIf="passwordNotMatches">
        Las contraseñas no son iguales.....
      </div>
      <label>Lugar:</label>
      <select class="form-control" #Lugar ngModel name="Lugar" [(ngModel)]="selectedOption" (change)="getAllPermissions($event.target.value)">
        <option *ngFor="let c of crossCuttingList" [ngValue]="c.key">
            <div style="display: none;">{{c.value}}</div>
        </option>
      </select>
      <label>Perfil:</label>
      <select class="form-control" #Perfil ngModel name="Perfil" [(ngModel)]="selecRol">
          <option *ngFor="let p of crossCuttingListPermissions" [ngValue]="p.key">
              <div style="display: none;">{{p.value}}</div>
          </option>
      </select>
      <label>Turno:</label>
      <select class="form-control" #Turno ngModel name="Turno" [(ngModel)]="selecSchedule">
          <option *ngFor="let p of crossCuttingListSchedule" [ngValue]="p.key">
              <div style="display: none;">{{p.value}}</div>
          </option>
      </select>
    </div>
    <div class="modal-footer">
                <div class="col-md-1">
        <button type="button" class="btn btn-success" 
        (click)="editUser(IsActive.value,Name.value,Apellido.value,Email.value,
        FechaNacimiento.value,Pais.value,Ciudad.value,Psd.value,
        RePsd.value,selecRol,Turno.value,selectedOption,IdUser.value)">Guardar</button>
        </div>
        <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
        <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
    </div>
    </div>
  </div>
</div>