<div *ngIf="router.url !== '/login'" class="_navbar-icon-menu">
  <ul class="_navbar-icon-menu-ul">
    <li>
        <a>
                <img class="icon-more" src ="../assets/icons/more.svg" (click)="activeMenuMore()">
        </a>
    </li>
    <li>
        <a routerLink="/profile" ng-click="" >
            <img routerLink="/profile" class="icon-profile" src ="../assets/icons/profile_men_menu.svg">
            <h6 class="label-menu">Perfil</h6>
        </a>
    </li>
    <li>
        <a routerLink="/home">
            <div class="center">
                <button routerLink="/home" class="btn-radius-circular"></button>
            </div>
            <h6 class="label-home">Inicio</h6>
        </a>
        
    </li>
    <li>
        <a routerLink="/notifications">
            <img class="icon-notification" routerLink="/notifications" class="icon-notification" src ="../assets/icons/notificationActive.svg">
        </a>
    </li>
    <li *ngIf="showAdminClaim" (click)="activeMenuAdmin()" class="list-menu-admin">
        <a>
            <h6 class="label-menu">Administativo</h6>
        </a>
       
    </li>
    <li>
        <a routerLink="/full-calendar">
            <img routerLink="/full-calendar" class="icon-calendar" src ="../assets/icons/calendar.svg">
            <h6 class="label-menu">Calendario</h6>
        </a>
    </li>
  </ul>
</div>
<div class="_navbar-icon-menu-more-container"
[style.visibility]="(showMoreSubmenu == true) ? 'visible' : 'hidden' ">
        <ul class="_navbar-icon-menu-more-ul">
                <li><a>Noticias y comunicados</a></li>
                <li><a>Mis horas de labor</a></li>
                <li><a>Enlaces</a></li>
                <li><a>Mis mensajes</a></li>
                <li class="_navbar-quite"><a>Salir</a></li>
            </ul>
</div>
<div class="_navbar-icon-menu-admin-container"
[style.visibility]="(showAdminSubmenu == true) ? 'visible' : 'hidden' ">
    <ul class="_navbar-icon-menu-admin-ul">
            <li><a>Cuentas
                <ul>  
                    <li><a>&#9678; Usuarios</a></li>
                    <li><a>&#9678; Perfiles</a></li>
                </ul>
                </a>
            </li>
            <li><a>Integración
                <ul>
                    <li><a>&#9678; Asignaciones</a></li>
                    <li><a>&#9678; Reportes</a></li>
                </ul>
                </a>
            </li>
            <li><a>Contenido
                <ul>
                    <li><a>&#9678; Comunicados</a></li>
                    <li><a>&#9678; Noticias</a></li>
                    <li><a>&#9678; Enlaces de <p>interes</p></a></li>
                </ul>
                </a>
            </li>
        </ul>
</div>  