<div *ngIf="router.url !== '/login' || !dataShared" class="_navbar-icon-menu" id="menuRouter">
  <ul class="_navbar-icon-menu-ul">
    <li>
        <a>
            <div class="notificationMenu" >
                <span class="badge" *ngIf="isActiveNotification">*</span>
                <img class="icon-more" src ="../assets/icons/more.svg" (click)="activeMenuMore()">
            </div>
        </a>
    </li>
    <li>
        <a routerLink="/profile" (click)="toggleCloseMenu()" >
            <img routerLink="/profile" class="icon-profile" src ="../assets/icons/profile_men_menu.svg">
            <h6 class="label-menu">Perfil</h6>
        </a>
    </li>
    <li>
        <a routerLink="/home" (click)="toggleCloseMenu()">
            <div class="center">
                <button routerLink="/home" (click)="toggleCloseMenu()" class="btn-radius-circular"></button>
            </div>
            <h6 class="label-home">Inicio</h6>
        </a>
        
    </li>
    <li>
        <a routerLink="/notifications" (click)="toggleCloseMenu()">
            <img class="icon-notification" routerLink="/notifications"  class="icon-notification" src ="../assets/icons/notificationActive.svg">
        </a>
    </li>
    <li *ngIf="showAdminClaim" (click)="activeMenuAdmin()" class="list-menu-admin">
        <a>
            <h6 class="label-menu">Administración</h6>
        </a>
       
    </li>
    <li>
        <a routerLink="/full-calendar" style="pointer-events: none;">
            <img routerLink="/full-calendar" class="icon-calendar" src ="../assets/icons/calendar.svg">
            <h6 class="label-menu">Calendario</h6>
        </a>
    </li>
  </ul>
</div>
<div *ngIf="router.url !== '/login'" class="_navbar-icon-menu-more-admin-container" 
         [style.visibility]="(showMoreSubmenu == true) ? 'visible' : 'hidden' "
         >

         <div class="_navbar-icon-menu-admin-container"
         [style.visibility]="(showAdminSubmenu == true) ? 'visible' : 'hidden' ">
         <button *ngIf="hidenTitleAdmin" class="_navbar-separator-button">Administración</button>
         <ul class="_navbar-icon-menu-admin-ul">
                     <li class="_navbar-separator"><a>Cuentas</a>
                         <ul>  
                                 <li><a routerLink="/users" (click)="toggleCloseMenu()">&#9678; Usuarios</a></li>
                                 <li><a routerLink="/roles" (click)="toggleCloseMenu()">&#9678; Perfiles</a></li>
                         </ul>
                     </li>
                         <li class="_navbar-separator"><a>Integración</a>
                         <ul>
                             <li><a routerLink="/scheduler" (click)="toggleCloseMenu()">&#9678; Asignaciones</a></li>
                             <li><a routerLink="/buttons" (click)="toggleCloseMenu()">&#9678; Botones</a></li>
                             <li><a routerLink="/reports" (click)="toggleCloseMenu()">&#9678; Reportes</a></li>
                             <li><a class="custom-ref" target="_top" data-toggle="modal" data-target="#myModalCreatePlace" rel="noopener noreferrer" (click)="loadNewPlaceInfo()" >&#9678; Lugares</a></li>
                         </ul>
                     </li>
                     <li class="_navbar-separator"><a>Contenido</a>
                         <ul>
                            <li>
                                <a routerLink="/notificationsPush" class="notification">
                                    <span>Notificaciones</span>&nbsp;
                                    <span class="badge" *ngIf="isActiveNotification" style="font-size: 9px; width: 12px;background-color: red;">{{notificationCount}}</span>
                                </a>
                            </li>
                             <li><a style="pointer-events: none;">&#9678; Comunicados</a></li>
                             <li><a style="pointer-events: none;">&#9678; Noticias</a></li>
                             <li><a style="pointer-events: none;">&#9678; Enlaces de interes</a></li>
                         </ul>
                     </li>
                 </ul>
         </div> 

        <div class="_navbar-icon-menu-more-container"
        [style.visibility]="(showMoreSubmenu == true) ? 'visible' : 'hidden' "
        >
                <ul class="_navbar-icon-menu-more-ul">
                        <li class="_navbar-separator-single"><a style="pointer-events: none;">Noticias y comunicados</a></li>
                        <li><a style="pointer-events: none;">Mis horas de labor</a></li>
                        <li><a>Herramientas</a>
                        <ul>
                            <li><a routerLink="/qualification" style="margin: auto; position: relative; text-align: left;">&#9678; Valoración</a></li>
                            <li><a routerLink="/queue" style="pointer-events: none; position: relative; text-align: left;">&#9678; Agendamiento</a></li>
                        </ul>
                        </li>
                        <li><a style="pointer-events: none;">Enlaces</a></li>
                        <li><a style="pointer-events: none;">Mis mensajes</a></li>
                        <li class="_navbar-quite"><a (click)="OnQuit()">Salir</a></li>
                    </ul>
        </div>
        
</div>
      
       <div class="modal fade" id="myModalCreatePlace" role="dialog">
        <div class="modal-dialog ">
          <div class="modal-content">      
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center;">Lugares</h4>
          </div>
          <div class="modal-body">
            <label>Nombre:</label>
            <input class="form-control" #NamePlace ngModel name="NamePlace" />
            <p></p>
            <label class="form-check-label">Ciudad</label>
            <input type="text" class="form-control" #City ngModel name="City" />
            <p></p>
            <label class="form-check-label">País</label>
            <input type="text" class="form-control" #Country ngModel name="Country" />
            <br/>
            <button class="accordion">Lista de lugares</button>
            <div class="panel" style="height: 180px; overflow-y: scroll;">
                    <table class="table">
                            <tbody>
                              <tr *ngFor="let place of arrayPlace">
                                <td>
                                    <button class="accordion-details" (click)="showDetails()">{{place.placeName}}</button>
                                    <div class="panel-details">
                                            <label>Nombre:</label>
                                            <input class="form-control" #NamePlace [(ngModel)]="place.placeName" name="NamePlace" />
                                            <p></p>
                                            <label class="form-check-label">Ciudad</label>
                                            <input type="text" class="form-control" #City [(ngModel)]="place.city" name="City" />
                                            <p></p>
                                            <label class="form-check-label">País</label>
                                            <input type="text" class="form-control" #Country [(ngModel)]="place.country" name="Country" />
                                            <br/>
                                            <button type="button" class="btn btn-success" (click)="editPlace(place)" >Actualizar</button>
                                            &nbsp;
                                            <button type="button" class="btn btn-danger" (click)="removePlace(place.id)">Eliminar</button> 
                                    </div>
                                </td>
                              </tr>
                            </tbody>
                    </table>
            </div>
          </div>
          <div class="modal-footer">
                      <div class="col-md-1">
              <button type="button" class="btn btn-success"
              (click)="addPlace(NamePlace.value, City.value, Country.value)">Guardar</button>
              </div>
              <div class="alert alert-success" *ngIf="Success">Guardado con exito...</div>
              <div class="alert alert-danger" *ngIf="Fail">Ups.. Algo Fallo...</div>
          </div>
          </div>
        </div>
      </div>