<div *ngIf="router.url !== '/login'" class="_navbar-icon-menu">
  <ul class="_navbar-icon-menu-ul">
    <li>
        <a>
                <img class="icon-more" src ="../assets/icons/more.svg" (click)="activeMenuMore()">
        </a>
    </li>
    <li>
        <a routerLink="/profile" ng-click="" >
            <img routerLink="/profile" class="icon-profile" src ="../assets/icons/profile_men_menu.svg">
            <h6 class="label-menu">Perfil</h6>
        </a>
    </li>
    <li>
        <a routerLink="/home">
            <div class="center">
                <button routerLink="/home" class="btn-radius-circular"></button>
            </div>
            <h6 class="label-home">Inicio</h6>
        </a>
        
    </li>
    <li>
        <a routerLink="/notifications">
            <img class="icon-notification" routerLink="/notifications" class="icon-notification" src ="../assets/icons/notificationActive.svg">
        </a>
    </li>
    <li *ngIf="showAdminClaim" (click)="activeMenuAdmin()" class="list-menu-admin">
        <a>
            <h6 class="label-menu">Administración</h6>
        </a>
       
    </li>
    <li>
        <a routerLink="/full-calendar">
            <img routerLink="/full-calendar" class="icon-calendar" src ="../assets/icons/calendar.svg">
            <h6 class="label-menu">Calendario</h6>
        </a>
    </li>
  </ul>
</div>
<div *ngIf="router.url !== '/login'" class="_navbar-icon-menu-more-admin-container" 
         [style.visibility]="(showMoreSubmenu == true) ? 'visible' : 'hidden' "
         >

         <div class="_navbar-icon-menu-admin-container"
         [style.visibility]="(showAdminSubmenu == true) ? 'visible' : 'hidden' ">
         <button *ngIf="hidenTitleAdmin" class="_navbar-separator-button">Administración</button>
         <ul class="_navbar-icon-menu-admin-ul">
                     <li class="_navbar-separator"><a>Cuentas</a>
                         <ul>  
                                 <li><a routerLink="/users">&#9678; Usuarios</a></li>
                                 <li><a routerLink="/roles">&#9678; Perfiles</a></li>
                         </ul>
                     </li>
                         <li class="_navbar-separator"><a>Integración</a>
                         <ul>
                             <li><a routerLink="/scheduler">&#9678; Asignaciones</a></li>
                             <li><a routerLink="/buttons">&#9678; Botones</a></li>
                             <li><a routerLink="/reports">&#9678; Reportes</a></li>
                             <li><a class="custom-ref" data-toggle="modal" data-target="#myModal-place" rel="noopener noreferrer" >&#9678; Lugares</a></li>
                         </ul>
                     </li>
                     <li class="_navbar-separator"><a>Contenido</a>
                         <ul>
                             <li><a>&#9678; Comunicados</a></li>
                             <li><a>&#9678; Noticias</a></li>
                             <li><a>&#9678; Enlaces de interes</a></li>
                         </ul>
                     </li>
                 </ul>
         </div> 

        <div class="_navbar-icon-menu-more-container"
        [style.visibility]="(showMoreSubmenu == true) ? 'visible' : 'hidden' "
        >
                <ul class="_navbar-icon-menu-more-ul">
                        <li class="_navbar-separator-single"><a>Noticias y comunicados</a></li>
                        <li><a>Mis horas de labor</a></li>
                        <li><a>Herramientas</a>
                        <ul>
                            <li><a routerLink="/qualification">&#9678; Valoración</a></li>
                            <li><a routerLink="/queue">&#9678; Agendamiento</a></li>
                        </ul>
                        </li>
                        <li><a>Enlaces</a></li>
                        <li><a>Mis mensajes</a></li>
                        <li class="_navbar-quite"><a (click)="OnQuit()">Salir</a></li>
                    </ul>
        </div>
        
</div>

<div class="modal fade" id="myModal-place" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
          <div class="modal-header">
              <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
              </label>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center;">Lugar</h4>
            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                <option data-subtext="lugar...">Buscar </option>
                <option data-subtext="lugar...">Buscar </option>
                <option data-subtext="lugar...">Buscar </option>
            </select>
          </div>
          <div class="modal-body">
                    
            <p></p>
            <label>Nombre:</label>
            <input class="form-control"/>
            <p></p>
            <label>Ciudad:</label>
            <select class="form-control"></select>
            <label>Pais:</label>
            <select class="form-control"></select>
          </div>
          <div class="modal-footer">
                      <div class="col-md-1">
              <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
              </div>
          </div>
          </div>
        </div>
      </div>